<script async src="https://www.googletagmanager.com/gtag/js?id=UA-4011684-4"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-4011684-4');
</script>
<meta charset="utf-8">
<title>{{ site.title }}</title>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<meta name="description" content="{{ site.description }}">
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script type='text/javascript' src='/unitegallery/js/unitegallery.min.js'></script>

<link rel='stylesheet' href='/unitegallery/css/unite-gallery.css' type='text/css' />
<script type='text/javascript' src='/unitegallery/themes/default/ug-theme-default.js'></script>
<link rel='stylesheet' href='/unitegallery/themes/default/ug-theme-default.css' type='text/css' />
<script language="JavaScript"><!--
ap="'";
loaded=false;
if (document.images){
    tb1_d = new Image(44,33);
    tb1_d.src = "/img/b2x1a.gif";
    tb2_d = new Image(80,33);
    tb2_d.src = "/img/b3x1a.gif";
    tb3_d = new Image(54,33);
    tb3_d.src = "/img/b4x1a.gif";
    tb4_d = new Image(63,33);
    tb4_d.src = "/img/b5x1a.gif";
    tb5_d = new Image(55,33);
    tb5_d.src = "/img/b6x1a.gif";
    tb6_d = new Image(84,33);
    tb6_d.src = "/img/b7x1a.gif";
    tb7_d = new Image(119,33);
    tb7_d.src = "/img/b8x1a.gif";
    tb8_d = new Image(67,33);
    tb8_d.src = "/img/b9x1a.gif";
    tb9_d = new Image(52,33);
    tb9_d.src = "/img/b10x1a.gif";
    tb1_ = new Image(44,33);
    tb1_h = new Image(44,33);
    tb1_h.src = "/img/b2x1b.gif";
    tb2_ = new Image(80,33);
    tb2_h = new Image(80,33);
    tb2_h.src = "/img/b3x1b.gif";
    tb3_ = new Image(54,33);
    tb3_h = new Image(54,33);
    tb3_h.src = "/img/b4x1b.gif";
    tb4_ = new Image(63,33);
    tb4_h = new Image(63,33);
    tb4_h.src = "/img/b5x1b.gif";
    tb5_ = new Image(55,33);
    tb5_h = new Image(55,33);
    tb5_h.src = "/img/b6x1b.gif";
    tb6_ = new Image(84,33);
    tb6_h = new Image(84,33);
    tb6_h.src = "/img/b7x1b.gif";
    tb7_ = new Image(119,33);
    tb7_h = new Image(119,33);
    tb7_h.src = "/img/b8x1b.gif";
    tb8_ = new Image(67,33);
    tb8_h = new Image(67,33);
    tb8_h.src = "/img/b9x1b.gif";
    tb9_ = new Image(52,33);
    tb9_h = new Image(52,33);
    tb9_h.src = "/img/b10x1b.gif";
}
tb1_m = 'Uvod';
tb2_m = 'Manifest';
tb3_m = 'Pisne';
tb4_m = 'Poezie';
tb5_m = 'State';
tb6_m = 'Castusky';
tb7_m = 'Klub Agitprop';
tb8_m = 'Odkazy';
tb9_m = 'Posta';
dm = "Document Done.";
loaded=true;
function cb(){if(document.images&&loaded){return true}else{return false}}
// -->
</script>
