---
layout: default
---

<b>{{ page.title }}</b><br>
{% if page.music %}
Hudba: {{ page.music }}<br>
{% endif %}
{% if page.text %}
text: {{ page.text }}<br>
{% endif %}
{% if page.preklad %}
překlad: {{page.preklad}}<br>
{% endif %}
<br>
<table width="600">
    <tr>
        <td>
            {{ content }}
        </td>
        <td valign="top">
            {% include media.html %}

        </td>
    </tr>
</table>
{% if page.youtube %}
{% include youtube.html %}
{% endif page.youtube %}
{% include navigation.html %}
