---
layout: default
---

<b>{{ page.title }}</b><br>
{% if page.music %}
Hudba: <a href="/autori.phtml#{{ page.music | url_encode }}"> {{ page.music }}</a><br>
{% endif %}
{% if page.text %}
text: <a href="/autori.phtml#{{ page.text | url_encode }}"> {{ page.text }}</a><br>
{% endif %}
{% if page.preklad %}
překlad: <a href="/autori.phtml#{{ page.text | url_encode }}"> {{page.preklad}}</a><br>
{% endif %}
<br>
<table width="600">
    <tr>
        <td>
            {{ content }}
        </td>
        <td valign="top">
            {% include media.html %}

        </td>
    </tr>
</table>
{% if page.youtube %}
{% include youtube.html %}
{% endif page.youtube %}
{% include navigation.html %}
