---
layout: default
---

<b>{{ page.title }}</b><br>
{% if page.autor %}
autor: <a href="/autori.phtml#{{ page.autor | url_encode }}"> {{ page.autor }}</a> <br>
{% endif %}
{% if page.vydal %}
vydal: <a href="/vydal.phtml#{{ page.vydal | url_encode }}">{{ page.vydal }}</a><br>
{% endif %}

<br>
<table width="600">
    <tr>
        <td>
            {{ content }}
        </td>
        <td valign="top">
            {% include media.html %}

        </td>
    </tr>
</table>
{% if page.youtube %}
{% include youtube.html %}
{% endif page.youtube %}
{% include navigation.html %}
