---
layout: default
---

        <h2 class="section__title">Autoři písní</h2>
        <table border="0" cellpadding="10" cellspacing="2" width="600">
            <thead>
            <tr>
                <th>Název</th>
                <th>Hudba</th>
                <th>Text</th>
                <th>Překlad</th>
            </tr>
            </thead>
            {% assign autori = site.pisne | map : "music" | uniq | sort  %}
            {% for autor in autori %}
            {% assign pisne = site.pisne | sort  %}
                {% for pisen in pisne %}
                    {% if pisen.music == "Awesome Shoes" %}
                        {% include pisen_preview.html %}
                    {% endif %}
                {% endfor %}

            {% endfor %}
        </table>
